<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561522285489-28moq8t1q24jf0no7icg38gao5kvrllp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561522285489-28moq8t1q24jf0no7icg38gao5kvrllp</string>
	<key>API_KEY</key>
	<string>AIzaSyB_nuP0Rjytxxxxxxxxxxxxxxxxxxxxx</string>
	<key>GCM_SENDER_ID</key>
	<string>561522285489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easynema</string>
	<key>PROJECT_ID</key>
	<string>easynema</string>
	<key>STORAGE_BUCKET</key>
	<string>easynema.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561522285489:ios:cf25681bc03fd64664bb90</string>
</dict>
</plist>